#!/bin/bash
set -u

# get config through environment variables
source '{{ restic_config_path }}/restic-env'

{% if restic_prune_pre_command != "" %}
echo "Executing prune pre command"
{{ restic_prune_pre_command }}
{% endif %}

echo "Starting pruning"

# check if repository is ok
restic check


restic forget \
{% for restic_retention in restic_retentions %}
       {{ restic_retention }} \
{% endfor %}
       --prune

backup_status=$?

if [[ $backup_status -eq 0 ]]
then
  echo "Finished pruning"
{% if restic_prune_post_command != "" %}
  echo "Executing backup post command"
  {{ restic_prune_post_command }}
{% endif %}
else
  echo "ERROR pruning"
{% if restic_prune_post_error_command != "" %}
  echo "Executing backup post error command"
  {{ restic_prune_post_error_command }}
{% endif %}
fi



exit 0
